<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.mapper.AccMapper">
    <insert id="insert" parameterType="Acc">
        INSERT INTO acc (account, password, coupon) VALUES (#{account}, #{password}, #{coupon})
    </insert>

    <select id="findByAccount" parameterType="string" resultType="Acc">
        SELECT id, account, password, coupon FROM acc WHERE account = #{account}
    </select>

    <update id="updateCoupon" parameterType="Acc">
        UPDATE acc SET coupon = coupon + #{coupon} WHERE account = #{account}
    </update>

    <select id="selectList" resultType="Acc">
        SELECT id, account, password, coupon FROM acc
    </select>
</mapper>
